.search_container {
  width: 1200px;
  height: 99.5px;
  align-items: center;
  display: flex;
  background-color: #000;
  border-radius: 10px;
  justify-content: space-between;
  position: relative;
  margin: 23px 0 20px;
}

input {
  border: 0;
  width: 210px;
  height: 60px;
  margin: 19px 0 20.5px 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 24px 0 rgba(0, 0, 0, 0.2);
  background: #1f1f1f url("../../public/image/search20279.png") no-repeat center;
  /* background-color: #1f1f1f;
  background-image: url("../../public/image/search20279.png");
  background-size:  25px 25px ;
  background-repeat: no-repeat;
  background-position-y: center; */
  background-position-x: 10px;
  text-align: center;
  color: white;
}

input:focus {
  outline: none;
}

.main_team {
  display: flex;
  right: 40px;
  position: absolute;
}

.main_team li {
  color: #777777;
  margin-left: 20px;
}

.main_team a {
  color: #777777;
  text-decoration: none;
}

.search_box {
  color: white;
  position: absolute;
  width: 280px;
  height: 150px;
  margin-top: 230px;
  margin-left: 20px;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid yellow; 
}

.box_list {
  margin-top: 20px;
}

.box_list li {
  display: flex;
  align-items: center;
  padding: 3px 2px;
}

.box_list img {
  border: 3px solid #777777;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #000000;
  margin-right: 5px;
 
 }
