.insight_container {
  height: 2038px;
  width: calc(78.8%);
  background-color: #000000;
  border-radius: 10px;
}

.title {
  font-size: 18px;
  color: #777777;
  margin: 28px 0 52px 35px;
  line-height: 24px;
  letter-spacing: -0.45px;
}

.gage_box { 
  display: flex;
  justify-content: space-around;
  border: 1px solid yellow;
}

.gageLeft {
  /* max-width: 370px; */
  /* height: 319px;  */
  border-radius: 10px;
  /* opacity: 0.5; */
  /* background-color: #1f1f1f; */
  /* margin: 20px 20px 0 35px; */
}

.gageRight {
  /* max-width: 370px; */
  /* height: 319px; */
  border-radius: 10px;
  /* opacity: 0.5; */
  /* background-color: #1f1f1f; */
  /* margin: 20px 20px 0 35px; */
}

.task {
  font-size: 18;
  color: #777777;
  margin: 29px 25px;
}

.gageLeft img {
  width: 369.8px;
  height: 160.4px;
  /* margin: 16px 0 0 25px; */
}

.gageRight img {
  width: 369.8px;
  height: 160.4px;
  /* margin: 16px 0 0 25px; */
}

.status {
  font-size: 18px;
color: #ff0062;
  /* margin: 16.5px 0 7px 173.4px; */
}

.statusP {
  font-size: 18px;
  color: #ffffff;
  /* margin-left: 187.4px; */
  
}

