.main_body {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
}

.main_container {
  width: calc(100vw - 240px);
}

.main_contents {
  display: flex;
  justify-content:space-between;
}