.main_body {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  height: 100%;
}

.main_container {
  width: 1200px;
}

.main_contents {
  display: flex;
  justify-content:space-between;
}